In [2]:
import pandas as pd

In [3]:
# Load the Excel file
file_path = 'Input data.xlsx'

In [4]:
# Read the 'Input' sheet 
input_df = pd.read_excel(file_path, sheet_name='Input', header=None)
input_df.head()

                         0
0                      NaN
1  FRANCE: LNB - Play Offs
2                     Draw
3                    FINAL
4             12.06. 22:05

In [6]:
# Read the 'Input2' sheet
input_df_clean = pd.read_excel(file_path, sheet_name='Input_manually_cleaned', header=None)
input_df_clean.head()

              0
0  12.06. 22:05
1         Paris
2        Monaco
3            76
4           115

In [7]:
# Initialize lists to store extracted data
final_scores = []
teams = []
q1_scores = []
q2_scores = []
q3_scores = []
q4_scores = []

In [8]:
# Iterate through the rows and extract relevant data
for i in range(0, len(input_df_clean), 13):  # Assuming each game data spans 13 rows
    if i + 12 < len(input_df_clean):
        
        teams.append(input_df_clean.iloc[i + 1, 0])  # Final score
        teams.append(input_df_clean.iloc[i + 2, 0])  # Final score
        #print(teams) 
        final_scores.append(input_df_clean.iloc[i + 3, 0])  # Final score
        final_scores.append(input_df_clean.iloc[i + 4, 0])  # Final score
         
        q1_scores.append(input_df_clean.iloc[i + 5, 0])  # Q1 score
        q1_scores.append(input_df_clean.iloc[i + 6, 0])  # Q1 score
        
        q2_scores.append(input_df_clean.iloc[i + 7, 0])  # Q2 score
        q2_scores.append(input_df_clean.iloc[i + 8, 0])  # Q2 score
        
        q3_scores.append(input_df_clean.iloc[i + 9, 0])  # Q3 score
        q3_scores.append(input_df_clean.iloc[i + 10, 0])  # Q3 score
        
        q4_scores.append(input_df_clean.iloc[i + 11, 0])  # Q4 score
        q4_scores.append(input_df_clean.iloc[i + 12, 0])  # Q4 score

In [9]:
# Create a DataFrame with the extracted data
data_dict = {
    'Teams': teams,
    'Final': final_scores,
    '1': q1_scores,
    '2': q2_scores,
    '3': q3_scores,
    '4': q4_scores
}
formatted_df = pd.DataFrame(data_dict)

In [10]:
formatted_df.head()

    Teams  Final   1   2   3   4
0   Paris     76  18  19  18  21
1  Monaco    115  37  26  30  22
2   Paris     59  14  21  10  14
3  Monaco     88  28  18  18  24
4  Monaco     70  11  25  15  19

In [11]:
# Save the transformed data to a new Excel file
output_file_path = 'Formatted Output.xlsx'
with pd.ExcelWriter(output_file_path) as writer:
    formatted_df.to_excel(writer, sheet_name='Output', index=False)

print(f"Data has been formatted and saved to {output_file_path}")

Data has been formatted and saved to Formatted Output.xlsx